.navbarContainer{
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}
.GDSC-logo{
    width: 30em;
}
.gdscLine{
    /* position: absolute; */
    top: 120px;
    width: 1080px;
    height:5px;
    background: linear-gradient(90deg, #4285F4 0%, #3E87E7 20.04%, #0F9D58 20.38%, #0F9D58 48.67%, #FBBC05 49.18%, #FBBC05 78.07%, #EA4335 78.41%, #EA4335 100%);
}

@media (max-width:860px) {
    .gdscLine{
        width: 640px;
    }
    
}

@media (max-width:620px) {
    .GDSC-logo{
        width: 20em;
    }
    .gdscLine{
        width: 360px;

    }

    
}

